.gr {
    background-color: rgb(189, 189, 189);
    justify-self: center;
    height: 430px;
    width: 400px;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 25px;

}

.txt {
    justify-self: center;

}

.bloco {
    background-color: rgb(233, 233, 233);
    height: 55px;
    width: 70px;
    margin: 5px;
    justify-self: center;
    border: 3px solid black;
    cursor: pointer;

}

.bloco:hover{
    background-color: rgb(160, 160, 160);
}

.flex {
    display: flex;
    justify-self: center;
}

#visor {
    background-color: white;
    margin: 5px;
    justify-self: center;
    height: 50px;
    width: 300px;
    border: 3px solid black;
    color: black;
    font-size: 25px;
    text-align: right;

}

.num {
    justify-self: center;
}